@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

h1 {
    font-family: 'Cinzel', serif;
    border: 5px solid red;
}

body {
    color: #ec0505;
    background-image: url("https://github.com/XxLilboi123xX/portfolio/blob/master/2019-09-15.jpg");
}
