@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

h1 {
    font-family: 'Cinzel', serif;
    border: 5px solid red;
}

body {
    color: #ec0505;
    background-image: url("9F90C72E-9A53-41DF-B8B9-29B7537F3282.jpeg");
}
