@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

h1 {
    font-family: 'Cinzel', serif;
    border: 5px solid red;
}

body {
    color: #ec0505;
    background-image: url("D62017A3-F73F-42EC-8F21-AB427CDABD5D.jpeg");
    backround-repeat; no-repeat;
    backround-position: center;
    backround-size: cover;
}
.navbar a {
    float:left;
    display: block;
    color:#04EE24;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.navbar a:hover {
    backround-color: #FFFFFF;
    color: #A4A4A4;
}

.navbar a.active {
    backround-color: #FFFFFF;
    color:#58FAAC;
}
    
    
       
